.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

#campaign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

#main-image {
  height: 500px;
  position: relative;
  margin-top: 100px;
}

#main-image > .main-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

#concert-title {
  text-align: center;
  font-size: 32px;
}

.item {
  color: rgb(148, 190, 8);
  width: 130px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-left: 13%;
}

.content {
  margin: 10px auto 80px auto;
  font-size: 20px;
}

table,
td {
  border: 1px solid #333;
  text-align: center;
  vertical-align: middle;
  min-width: 200px;
  min-height: 150px;
  padding: 5px;
}

th {
  vertical-align: middle;
  padding: 3px;
  height: 50px;
}

table {
  width: 70vw;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.booking-button {
  font-size: 24px;
  width: 80%;
  height: 80%;
  border-color: rgb(255, 80, 80);
  border-radius: 5px;
  background-color: rgb(255, 80, 80);
  color: #fff;
}

.booking-button:hover {
  background-color: #fff;
  color: rgb(255, 80, 80);
  cursor: pointer;
}

#notice {
  font-size: 20px;
  width: 70vw;
}
