/*main*/

.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

#keyvisuals {
  height: 500px;
  position: relative;
  margin-top: 65px;
}

#keyvisuals > .keyvisual {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  opacity: 0.8;
  background-repeat: repeat-x;
  transition: opacity 1.2s;
}

/* ---------- campaigns ---------- */
#campaigns {
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 50px;
}

.campaign {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 20px;
}

#campaigns > .campaign > .campaign-image > img {
  width: 360px;
  height: 200px;
}

#campaigns > .campaign > .campaign_title {
  margin-top: 12px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #3f3a3a;
}
#campaigns > .campaign > .campaign_interval {
  margin-top: 12px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #3f3a3a;
}

#campaigns > .campaign > hr.line-style {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
