.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

#order-tracking-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#order-tracking-title {
  margin-top: 200px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: rgb(148, 190, 8);
}

#order-list {
  margin-bottom: 300px;
}

.content {
  margin: 50px auto 10px auto;
}

.order-table {
  font-size: 20px;
}

#empty-order-text {
  font-size: 20px;
  font-weight: bold;
  margin: 0px auto;
}

.order-main-info-table table,
.order-main-info-table td {
  font-size: 20px;
  border: 1px solid rgb(218, 215, 215);
  text-align: center;
  vertical-align: middle;
  height: 60px;
  margin: auto;
  width: 90vw;
  padding: 5px;
}

.order-main-info-table th {
  vertical-align: middle;
}

.order-main-info-table table {
  table-layout: fixed;
}

.order-main-info-table td {
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-main-info-table thead,
.order-main-info-table tfoot {
  height: 70px;
  background-color: rgb(148, 190, 8);
  color: #fff;
}

#column-name {
  background-color: rgb(148, 190, 8);
}

.order-code {
  font-weight: bold;
  color: rgb(255, 80, 80);
}

.order-status {
  font-weight: bold;
  color: rgb(255, 80, 80);
}

.total {
  font-weight: bold;
  color: rgb(255, 80, 80);
}
