.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

#choose-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 200px;
  margin-bottom: 80px;
}

#content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#concert-area-image-and-choose-zone {
  display: flex;
  flex-direction: row;
}

hr.line-style {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#concert-title {
  text-align: center;
  font-size: 36px;
}

#time-location-block {
  text-align: center;
  font-size: 28px;
}

#area-ticketPrice {
  text-align: center;
  font-size: 28px;
}

.content {
  margin: 50px auto 10px auto;
}

#choose-zone {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

#choose-zone-title {
  font-weight: bold;
  color: #000;
  width: 200px;
  font-size: 28px;
  margin-bottom: 20px;
}

.concert-zone-price-qty {
  font-size: 24px;
  color: #000;
}

#concert-area-image img {
  margin-top: -100px;
  max-width: 800px;
}

#choose-zone-title {
  margin-top: -100px;
}

.concert-zone-price-qty:hover {
  border-radius: 3px;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(16, 38, 112);
  background-color: rgba(16, 38, 112, 0.863);
}
