.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

#userform {
  display: flex;
  margin: 0 auto;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: #3f3a3a;
}

.profile {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

#profile_image {
  width: 100px;
  height: 100px;
}

.profile_user_info {
  font: bold;
  font-size: 18px;
  padding: 20px;
}

#user_name,
#user_email,
#user_phone {
  margin: 20px;
  color: #3f3a3a;
}

#log-out-button {
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: center;
}

#log-out {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgb(148, 190, 8);
  background-color: rgb(148, 190, 8);
  font-size: 18px;
  text-align: center;
  color: #fff;
}

#log-out:hover {
  color: rgb(148, 190, 8);
  background-color: #fff;
}
