.wrapper {
  flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

#choose-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 200px;
  margin-bottom: 80px;
}

#content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

hr.line-style {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#shopping-cart-title {
  width: 150px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(148, 190, 8);
  color: aliceblue;
  border-radius: 3px;
}

.content {
  margin: 50px auto 10px auto;
}

/* table {
  align-items: center;
} */

table,
td {
  font-size: 20px;
  border: 1px solid rgb(148, 190, 8);
  text-align: center;
  vertical-align: middle;
  min-width: 250px;
  height: 60px;
  margin: auto;
}

th {
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead,
tfoot {
  height: 60px;
  background-color: rgb(148, 190, 8);
  color: #fff;
}

#column-name {
  background-color: rgb(148, 190, 8);
}

.cart-remove-block {
  min-width: 150px;
}
/* .remove-button {
  font-size: 20px;
  width: 50%;
  height: 60%;
  border-color: rgb(255, 80, 80);
  border-radius: 5px;
  background-color: #fff;
  color: rgb(255, 80, 80);
}

.remove-button:hover {
  background-color: rgb(255, 80, 80);
  color: #fff;
} */

.remove-button {
  width: 50px;
}
.remove-button:hover {
  content: url("../images/logo/cart-remove-hover.png");
}

#sum {
  font-size: 20px;
  font-weight: bold;
}
